body {
  align-items: center;
  background-color: #e3f2fd;
  color: #fff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: black;
  border-radius: 20px;
  padding: 35px 40px;
  width: 780px;
}

.container header {
  align-items: center;
  color: #b2b2b2;
  display: flex;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  align-items: center;
  display: flex;
}

header .column span {
  font-size: 1.19rem;
  font-weight: 500;
  margin-right: 15px;
}

.volume-slider input {
  accent-color: #fff;
}

.keys-check input {
  appearance: none;
  background-color: #4b4b4b;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 60px;
}

.keys-check input::before {
  background-color: #8c8c8c;
  border-radius: inherit;
  content: "";
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  width: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.keys-check input:checked::before {
  background-color: #fff;
  left: 2.1rem;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}